Source: ros-indigo-dr-base
Section: misc
Priority: extra
Maintainer: Maarten de Vries <maarten@de-vri.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-dr-cmake
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-dr-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-dr-cmake
Description: Delft Robotics base dependencies.
